<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="replied-comment">
  <p><i><%= comment.name %> replied</i> <%= image_tag 'icon/rectangle-tooltip-reply.gif', :class => 'rectangle-tooltip-reply' %></p>
    <div class="replied-comment-body">
      <div class="blockquote-reply">
          <%= image_tag 'icon/quote.jpg', :width => 10, :height => 10 %>&nbsp;
              <%= markdown(wrap(comment.body)) %>
          <%= image_tag 'icon/close-quote.gif', :width => 10, :height => 10, :class => 'comment-quote' %></div>
    </div>
    <p align="right">posted <%= time_ago_in_words(comment.created_at) %> ago</p>
    <%#*<strong>updated </strong><%= time_ago_in_words(comment.updated_at) %>
    <% if current_user == comment.name %>
      <%= link_to 'Delete your relpy', [@article, comment], :method => :delete, :confirm => 'Are you sure?' %>
    <%  end %>
</div>
<% end %>
  <p align="right"><%= link_to 'Reply', new_comment_comment_path(comment) %></p>

  <% unless comment.comments.empty? %>
    <ul class="comment_list">
      <%= render :partial => 'comments/comment' , :collection => comment.comments %>
    </ul>
  <% end %>
