<div id="login-box">
<fieldset style="border-color:#EAEAEA" class="login">
    <legend>Sign up</legend>
    <br />
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <p>
          <%= f.label :username %>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :username, :size => 40, :placeholder => "Your desired username, 20 maximum", :maxlength => 20 %>
        </p>
        <p>
          <%= f.label :email %>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.email_field :email, :size => 40, :placeholder => "Please put a valid email" %>
        </p>
        <p>
          <%= f.label :password %>
          &nbsp;&nbsp;&nbsp;&nbsp;<%= f.password_field :password, :size => 40, :placeholder => "******" %>
        </p>
        <p>
          Password<br />confirmation
          &nbsp;<%= f.password_field :password_confirmation, :size => 40 %>
        </p>
        <p><%= f.submit %></p>
      <% end %>
  </fieldset>
</div>