<% title "Home" %>
      <div id="headline">
            <div id="main_photo">
              <div>
                <p align="center"><%= image_tag 'logos/pic_1.jpg',  :width => 618, :height => 254,  :alt => "Make sense for living" %></p>
                <p align="center"><%= image_tag 'banners/500x200banner2.png', :width => 618, :height => 254, :alt => "logo" %></p>
                <!--<div id="myalbum">
                        <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
                        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
                </div>-->
                <!--<<br />
                        object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="500" height="462" id="myalbum" align="middle">
                           <param name="quality" value="high" />
                           <param name="scale" value="noscale" />
                           <param name="salign" value="lt" />
                           <param name="bgcolor" value="#ffffff" />
                           <embed src="/assets/PHCFMFlashPhotoGallery/myalbum.swf" quality="high" bgcolor="#ffffff" width="500" height="462" name="CoffeeCup" scale="noscale" salign="lt" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />        
                        </object> -->
                        <p align="center">
                          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="350" height="350" id="FLVPlayer">
                            <param name="movie" value="/assets/videos/FLVPlayer_Progressive.swf" />
                            <param name="quality" value="high" />
                            <param name="wmode" value="opaque" />
                            <param name="scale" value="noscale" />
                            <param name="salign" value="lt" />
                            <param name="FlashVars" value="&amp;MM_ComponentVersion=1&amp;skinName=/assets/videos/Corona_Skin_3&amp;streamName=/assets/videos/Duty_Still-Hillsong&amp;autoPlay=false&amp;autoRewind=false" />
                            <param name="swfversion" value="8,0,0,0" />
                            <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
                            <param name="expressinstall" value="/assets/Scripts/expressInstall.swf" />
                            <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
                            <!--[if !IE]>-->
                            <object type="application/x-shockwave-flash" data="/assets/videos/FLVPlayer_Progressive.swf" width="460" height="345">
                              <!--<![endif]-->
                              <param name="quality" value="high" />
                              <param name="wmode" value="opaque" />
                              <param name="scale" value="noscale" />
                              <param name="salign" value="lt" />
                              <param name="FlashVars" value="&amp;MM_ComponentVersion=1&amp;skinName=/assets/videos/Corona_Skin_3&amp;streamName=/assets/videos/Duty_Still-Hillsong&amp;autoPlay=false&amp;autoRewind=false" />
                              <param name="swfversion" value="8,0,0,0" />
                              <param name="expressinstall" value="/assets/Scripts/expressInstall.swf" />
                              <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
                                <div>
                                  <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
                                  <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
                                </div>
                              <!--[if !IE]>-->
                            </object>
                            <!--<![endif]-->
                          </object>
                       </p>
                 <p align="center">
                    <iframe id="Linksifrm" name="Linksifrm" width="618" height="24" src="assets/flash/ticker_links/links_ticker.html" SCROLLING="no" FRAMEBORDER="0" border=0 allowTransparency="true"></iframe>
                 </p>
              </div>
            </div>
		<!-- search-news placed here -->
          <div class="clear"></div>
      </div>
		<div id="body">
			<div id="body-left">
				<h2><%= image_tag 'logos/h_welcome_to_our_site.gif', :width => 203, :height => 20, :alt => "H Welcome To Our Site" %></h2>
                                  <p>All of us need help at one time or another, but too many people look for the answers to their problems in the wrong places.</p><br />
                                  <p>The prophet Jeremiah said, "O LORD, I know the way of man is not in himself; It is not in man who walks to direct his own steps."</p> <h3>--Jeremiah 10:23</h3> <br />
                                  <p>And the prophet Isaiah said, "To the law and to the testimony! If they do not speak according to this word, it is because there is no light in them."</p> <h3>--Isaiah 8:20</h3> <br />
                                  <p>In other words, if we're going to find answers and help for our life's troubles, we are not going to find it within ourselves or on our own. We must go to God's Word (the law and the testimony!) the only true source of authoritative instructions from the Creator Himself!</p>
				<p class="more"><a href="#" title="Show more" class="tooltip_link right">more</a></p>
				<h2><%= image_tag 'logos/h_needs.gif', :width => 150, :height => 20, :alt => 'Urgent Needs' %></h2>
				<%= image_tag 'logos/pic_3.jpg', :width => 172, :height => 92, :alt => "Urgents&Needs", :class => 'left' %>
				<div class="trumpet">
                                      <p><strong>Trumpet Reports</strong></p>
                                      <br />
                                      <p align="left">If you are posting a report for your church, and you have been authorized by your  pastor to be a Trumpet correspondent for your church, you can also forward your  reports to <a href="mailto:trumpet@worldcfm.com">trumpet@worldcfm.com</a>.</p>
                                </div>
                                  <!--<h5>If you are posting a report for your church, and you have been authorized by your  pastor to be a Trumpet correspondent for your church, you can also forward your  reports to <a href="mailto:trumpet@worldcfm.com">trumpet@worldcfm.com</a>.</h5>-->
                                  <br />
                                  <%= image_tag 'bg/hrline.gif', :width => 450 %>
                                  <p>Terms and Conditions (PHCFM)</p>
                                  <ul class="plussbullets">
					<li>Respect all the members here.</li>
                                        <li>Don't post any explicit images to the site even in your site page (photo).</li>
					<li>Avoid using ALIAS, use your full name for us to recognize each other.</li>
					<li>Use your true picture instead of using picture of others!</li>
                                        <li>Please comment appropriately</li>
				</ul>
			</div>
			<div id="body-right">
				<h1>Get in Touch!</h1>
                                <%= image_tag 'bg/hrline.gif', :width => 315 %>
				<p><%= image_tag 'logos/pic_2.jpg', :width => 321, :height => 93, :alt => "Get in Touch" %></p>
				<p>Need help? We will be happy to hear from you. For contacting us please use our contact page or the email and phone info below. </p>
                                <p class="contacts"><br />
                                      Cell  : +91-99876543102<br />
                                      Email : pottershouselucena@gmail.com  </p>
                                
				<p class="more"><a href="#"><%= image_tag 'buttons/btn_click_here.gif', :width => 51, :height => 19, :alt => "Btn Click Here" %></a></p>
				<h2><%= image_tag 'logos/h_gallery.gif', :width => 65, :height => 22, :alt => "Gallery" %></h2>
				<div id="gallery">
					<a href="#"><%= image_tag 'logos/gal_1.jpg', :width => 101, :height => 96, :alt => "Gal 1" %></a>
					<a href="#"><%= image_tag 'logos/gal_2.jpg', :width => 114, :height => 96, :alt => "Gal 2" %></a>
                                        <a href="#"><%= image_tag 'logos/gal_3.jpg', :width => 101, :height => 96, :alt => "Gal 3" %></a>
                                        <a href="#"><%= image_tag 'logos/gal_1.jpg', :width => 101, :height => 96, :alt => "Gal 4" %></a>
                                        <a href="#"><%= image_tag 'logos/gal_1.jpg', :width => 101, :height => 96, :alt => "Gal 5" %></a>
                                        <a href="#"><%= image_tag 'logos/gal_1.jpg', :width => 101, :height => 96, :alt => "Gal 6" %></a>
                                </div>
			</div>
			<div class="clear"></div>
		</div>
  <br />
  <%= image_tag 'bg/hrline.gif', :width => 410 %><%= image_tag 'bg/hrline_reverse.gif', :width => 410 %>

  <h1 align="center"><%=raw "#{image_tag('icon/16x16/shadow/scroll.png')}<br />#{link_to_unless_current 'Articles', articles_path, :title => 'Go to Articles'}" %></h1>

<!--  
    <% @phcfms.reverse.each do |phcfm| %>
        <p><b><%= link_to (h phcfm.title), phcfm, :id => 'title' %></b> (<%#= phcfm.comments.count %> <%#= phcfm.comments.count <= 1 ? "Comment" : "Comments" %>)</p>
        <p>from <%=h phcfm.author %> on <i><%=h phcfm.date_published.to_s(:long) %></i></p>
        <p><%=h truncate phcfm.title, :lenght => 100, :omission => "..." %></p>


        <%#= link_to "Show #{phcfm.comments.count} comment(s)", post, :id => 'sidemenu_back' %>
            <%# if current_user_session %>
            <%# if current_user && (current_user == @phcfm.user || @phcfm.editors.include?(current_user)) %>
            <%# if @phcfm.editable_by?(current_user) %>
            <%# if current_user == @phcfm.user || @phcfm.editors.include?(current_user) %>
            <%= link_to 'Edit', edit_phcfm_path(phcfm), :id => 'sidemenu_back' %> |
            <%= link_to 'Destroy', phcfm, :confirm => 'Are you sure?', :method => :delete, :id => 'sidemenu_back' %>
            <%# end%>
    <% end %>
         
    <br />
      <%# if current_user == 'admin' %>
      <p align="right"><strong><%= link_to 'Add New Article', new_phcfm_path, :id => 'article' %></strong></p>
      <%#end%>
    <br /><br />    

      <%= link_to 'New Content', new_phcfm_path %>
-->       


    

<script>
        $("a").mouseenter(function (e) { //event fired when mouse cursor enters "a" element
          var $class_name = $(this).attr("class").slice(13); //get class attribute of "a" element after leaving 13 characters which is equal to "tooltip_link "
          var $x = e.pageX - this.offsetLeft; //get mouse X coordinate relative to "a" element
          var $tooltip_text = $(this).attr("title"); //get title attribute of "a" element

          if ($tooltip_text.length > 0) { //display tooltip only if it has more than zero characters

              $(this).append('<div class="tooltip ' + $class_name + '">' + $tooltip_text + '</div>'); //append tooltip markup, insert class name and tooltip title from the values above

              $("a > div.tooltip.center").css("left", "" + $x - 103 + "px"); //set tooltip position from left
              $("a > div.tooltip.left").css("left", "" + $x + "px"); //set tooltip position from left
              $("a > div.tooltip.right").css("left", "" + $x - 208 + "px"); //set tooltip position from left

              $("a > div.tooltip." + $class_name).fadeIn(300); //display, animate and fade in the tooltip
          }
      });

      $("a").mouseleave(function () { //event fired when mouse cursor leaves "a" element
          var $class_name = $(this).attr("class").slice(13); //get class attribute of "a" element after leaving 13 characters which is equal to "tooltip_link "

          //fade out the tooltip, delay for 300ms and then remove the tooltip and end the custom queue
          $("a > div.tooltip." + $class_name).fadeOut(300).delay(300).queue(function () {
              $(this).remove();
              $(this).dequeue();
          });
      });
      swfobject.registerObject("myalbum", "9.0.0", "/assets/Flash/expressInstall.swf");
      swfobject.registerObject("FLVPlayer", "9.0.0", "/assets/Flash/expressInstall.swf");
      swfobject.createCSS("#FLVPlayer", "background-color:white;", "screen, print", true);
      //swfobject.embedSWF("/assets/PHCFMFlashPhotoGallery/myalbum.swf", "myalbum", "500", "462", "11", "/assets/Flash/expressInstall.swf");
            //function cancelFunction() {
            //alert("Express Install was cancelled");
            //}
            //if (swfobject.hasFlashPlayerVersion("10")) {
            //        var fn = function() {
            //                var att = { data:"/assets/PHCFMFlashPhotoGallery/myalbum.swf", width:"500", height:"462", align:"middle" };
            //               var par = { bgcolor:"#ffffff" };
            //                var id = "myalbum";
            //                swfobject.createSWF(att, par, id);
            //        };
//
  //          }
    //       else {
     //               var fn = function() {
       //                     var att = { data:"/assets/Flash/expressInstall.swf", width:"600", height:"240" };
         //                   var par = { menu:false };
           //                 var id = "myalbum";
             //               swfobject.showExpressInstall(att, par, id, cancelFunction);
               //     }
            //}
           // swfobject.addDomLoadEvent(fn);
</script>